$primary: #2AB0E3;
@import 'bootstrap/dist/css/bootstrap.min.css';


#app {
    min-height: calc(vh100 - 57px);
}

.text-primary {
    color: $primary !important;
}

header {
    background-color: $primary;
    height: 400px;
    align-content: center;
    color: white;
}

.tabs { 
width: 10%;
}

.WarCard {
    background-color: #1e40af80;
}