$primary: #1d4ed8;
$secondary: #1e3a8a;
$font-family-base: "Ubuntu", sans-serif;
@import "bootstrap/scss/bootstrap.scss";

#app {
  min-height: calc(vh100 - 57px);
}

.text-primary {
  color: $primary !important;
}

.header {
  height: 500px;
}

.header-gradient {
  background: linear-gradient(to top, $primary, $secondary);
}

.WarCard {
  background-color: #1e40af80;
}
.trophy-background {
  justify-self: center;
  width: 79%;
  border-radius: 10px;
}

.achievements-card,
.info-cards {
  width: 80%;
  justify-self: center;
}
